*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html,
body
{
    scroll-behavior: smooth;
}

.bg-color
{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #222222, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #222222, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.2rem;
}

.active-link
{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

#navbar_logo
{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 50px;
}

.nav.navbar-nav.list li a 
{
    color: white;
}

.nav.navbar-nav.list li a 
{
    margin-left: 40px;
    margin-right: 40px;
}

.navbar
{
    min-height: 100px;
    padding: 10px;
    padding-left: 0;
}

.navbar .navbar-collapse 
{
    text-align: center;
}

.navbar-toggler
{
    outline: none;
    box-shadow: none;
    border: none;
    min-height: 80px;
}

.collapsing 
{
    transition-property: height, visibility;
    transition-duration: 0.5s;
}

.navbar-toggler:focus
{
    outline: none;
    box-shadow: none;
    border: none;
    min-height: 80px;
}
.navbar-toggler:active
{
    outline: none;
    box-shadow: none;
    border: none;
    min-height: 80px;
    
}
.navbar-toggler-icon
{
    outline: none;
    box-shadow: none;
    border: none;
    min-height: 80px;
}

.toggler-icon
{
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all 0.4s;
}

.middle-bar
{
    margin: 5px auto;
}

.navbar-toggler .top-bar
{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar
{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar
{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar
{
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar
{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar
{
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon
{
    background-color: white;
}

/*------------------------------------------- HOME SECTION ---------------------------------------*/

.home
{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 25% 0;
    min-width: 100%;
}

.home_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.home_heading
{
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff
}

.home_heading span
{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.home_description
{
    font-size: 60px;
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.highlight
{
    border-bottom: 4px solid rgb(122, 13, 231);
}

/*------------------------------------------- ABOUT SECTION ---------------------------------------*/

.main
{
    background-color: #101010;
    padding: 20rem 0;
    height: 1300px;
}

.main_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content
{
    color: #fff;
    width: 100%;
}

.main_content h1
{
    font-weight: 700;
    font-size: 2rem;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main_content h2
{
    font-size: 4rem;
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}

.main_content p
{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main_btn
{
    font-size: 1.8rem;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_btn a
{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main_btn:after
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    opacity: 0.5;
    background: #0066b2;
    transition: all 0.35s;
    border-radius: 4px;
}

.main_btn:hover
{
    color: #fff;
}

.main_btn:hover:after
{
    width: 100%;
}

.main_img-container
{
    text-align: center;
}

.main_img-card
{
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-briefcase,
.fa-users
{
    font-size: 14rem;
}

/*==================== QUALIFICATION ====================*/
.qualification
{
    background-color: #141414;
    padding: 20rem 0;
    color: #FFF;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.qualification__sub
{
    padding-bottom: 6rem;
    font-size: 1.75rem;
    text-align: center;
    justify-content: center;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;   
}

.qualification__tabs
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.qualification__button
{
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
}

.qualification__button:hover
{
    color: #093f7e;
}

.qualification__icon
{
    font-size: 1.8rem;
    margin-right: .25rem;
}

.qualification__data
{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2rem;
}

.qualifiaction__title
{
    font-size: 2rem;
    font-weight: 400;
}

.qualification__subtitle
{
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.qualification__calendar
{
    font-size: 1rem;
    color: gray;
}

.qualification__rounder
{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #FFF;
    border-radius: 50%;
}

.qualification__line
{
    display: block;
    width: 2px;
    height: 100%;
    background-color: #FFF;
    transform: translate(6px, -7px);
}

.qualification [data-content]
{
    display: none;
}

.qualification__active[data-content]
{
    display: block;
}

.qualification__button.qualification__active
{
    color: #0575E6;
}

/*------------------------------------------- SKILLS SECTION ---------------------------------------*/
.skills
{
    padding-top: 7rem;
    height: 1300px;
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    color: #FFF;
}

.skills__container
{
    grid-template-columns: repeat(2, 1fr);
}

.section__title
{
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    font-size: 5rem;
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;

}

.skills_subtitle
{
    padding-bottom: 6rem;
    font-size: 1.75rem;
    text-align: center;
    justify-content: center;
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;

}

.skills_one
{
    margin-left: auto;
}

.skills_two
{
    margin-right: auto;
    margin-left: auto;
}

.container
{
    margin-left: auto;
    margin-right: auto;
}

.grid
{
    display: grid;
    gap: 1.5rem;
}

.skills__header
{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.skills__icon,
.skills__arrow
{
    font-size: 4rem;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;

}

.skills__icon
{
    margin-right: .75rem;
}

.skills__title
{
    font-size: 2rem;
}

.skills__subtitle
{
    font-size: 1rem;
    color: #FFF;
}

.skills__arrow
{
    margin-left: auto;
    transition: .4s;
}

.skills__list
{
    padding-left: 2.7rem;
}

.skills__titles
{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.skills__name
{
    font-size: 2rem;
    font-weight: 2.5rem;
}

.skills__bar,
.skills__percentage
{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar
{
    background-color: #FFF;
}

.skills__percentage
{
    display: block;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.skills__html
{
    width: 80%;
}

.skills__css
{
    width: 50%;
}

.skills__js
{
    width: 35%;
}

.skills__react
{
    width: 20%;
}

.skills__java
{
    width: 55%;
}

.skills__cs
{
    width: 45%;
}

.skills__php
{
    width: 10%;
}

.skills__python
{
    width: 25%;
}

.skills__close .skills__list
{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list
{
    height: max-content;
    margin-bottom: 2.5rem;
}

.skills__open .skills__arrow
{
    transform: rotate(-180deg);
}

/*------------------------------------------- CONTACT SECTION ---------------------------------------*/
.main_contact
{
    color: #fff;
    background: #000000;
    background: linear-gradient(to right, #161616, #0e0d0d);
    text-align: center;
    align-items: center;
    padding: 10rem 0;
}

.contact-title
{
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: none;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 5rem;
}

.form-row
{
    margin-top: 20px;
}

textarea
{
    border: 1px solid;
    background-color: darkgray;
    resize: none;
    margin-top: 20px;
}

.contact-form
{
    margin-top: 40px;
    text-align: center;
    color: #D0D0D0;
}

label 
{
    font-size: 1.5rem;
    width: 100px;
    text-align: left;
    font-weight: 700;
}

input
{
    color: #fff;
    border-radius: 7px;
    height: 60px;
    width: 300px;
    padding: 10px;
    background: #1a1919;
    border: none;
    outline:none;
}

input:focus,
textarea:focus
{
    outline: none;
    box-shadow: none;
    background-color: #242323;
}

.submit
{
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093f7e, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #093f7e, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-radius: 6px;
    height: 60px;
    width: 300px;
    padding: 10px;
    margin-top: 50px;
    border: none;
    outline:none;
    padding: 5px;
    cursor: pointer;
    font-size: 2rem;
}

.textarea
{
    color: #fff;
    border: none;
    outline:none;
    background-color: #1a1919;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

.textareaa
{
    text-align: center;
    display: flex;
}
/*------------------------------------------- FOOTER SECTION ---------------------------------------*/

.footer_container
{
    background: #090909;  /* fallback for old browsers */
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo
{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.social_icon-link
{
    color: #fff;
    font-size: 25px;
}

.social_media
{
    max-width: 1000px;
    width: 100%;
}

.social_media-wrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
}

.website_rights
{
    margin: auto;
    color: #fff;
}

/*==================== SCROLL UP ====================*/
.scrollup
{
    position: fixed;
    right: 2rem;
    bottom: -20%;
    background-color: #202020;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover
{
    background-color: #484848;
}

.scrollup__icon
{
    font-size: 2rem;
    color: #FFF;
}

/* Show scroll */
.show-scroll
{
    bottom: 5rem;
}

/*==================== SCROLL BAR ====================*/
::-webkit-scrollbar
{
    width: .60rem;
    background-color: #202020;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb
{
    background-color: #484848;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #585858;
}


/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 480px)
{
    .main
    {
        max-height: fit-content;
        padding: 3rem 0;
    }

    .main_img-card
    {
        margin-top: 4rem;
    }

    .main_img-card
    {
        height: 200px;
        width: 200px;
    }

    .fa-users,
    .fa-briefcase
    {
        font-size: 3rem
    }

    .main_content h1
    {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .main_content h2
    {
        font-size: 2rem;
    }

    .main_content p
    {
        margin-top: 1.5rem;
    }

    .main_btn
    {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

@media screen and (max-width: 820px)
{
    .social_icons
    {
        padding-bottom: 2rem;
    }

    #footer_logo
    {
        margin-bottom: 1.5rem;
    }

    .website_rights
    {
        margin-bottom: 2rem;
    }

    .social_media-wrap
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px)
{
    input
    {
        width: 90%;
    }

    .textarea
    {
        width: 90%;
    }
}

@media screen and (max-width: 480px)
{
    .contact-title
    {
        padding-top: 5rem;
        font-size: 2rem;
    }

    .submit
    {
        height: 50px;
        width: 250px;
        font-size: 1.5rem;
    }

    label
    {
        font-size: 1rem;
    }

    .main_contact
    {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 768px)
{
    .skills__container
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .container
    {
        min-height: 520px;
        max-width: fit-content;
    }

    .skills
    {
        padding-top: 6rem;
        height: fit-content;
    }

    .skills__icon
    {
        font-size: 3rem;
    }

    .skills__name
    {
        font-size: 1.5rem;
        font-weight: 2rem;
    }

    .skills__open .skills__list
    {
        margin-bottom: 2rem;
    }

    .skills__title
    {
        font-size: 1.5rem;
    }

    .skills__subtitle
    {
        font-size: 1rem;
    }

    .section__title
    {
        padding-top: 2rem;
        font-size: 3rem;
    }

    .skills_subtitle
    {
        padding-bottom: 4rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px)
{
    .skills__icon
    {
        font-size: 2rem;
    }

    .skills__name
    {
        font-size: 1rem;
        font-weight: 2rem;
    }

    .skills__arrow
    {
        font-size: 2.5rem;
    }

    .skills__title
    {
        font-size: 1.1rem;
    }

    .skills__subtitle
    {
        font-size: .8rem;
    }
}

@media screen and (max-width: 480px)
{
    .qualification__icon
    {
        font-size: 1.5rem;
    }

    .qualification
    {
        padding: 6rem 0;
    }

    .qualification__button
    {
        font-size: 1rem;
    }

    .qualification__subtitle
    {
        font-size: 1rem;
    }

    .qualifiaction__title
    {
        font-size: 1.5rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 1100px)
{
    .main_container
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main_img-container
    {
        display: flex;
        justify-content: center;
    }

    .main_img-card
    {
        height: 300px;
        width: 300px;
    }

    .main_content
    {
        text-align: center;
        margin-bottom: 3rem;
    }

    .main_content h1
    {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2
    {
        font-size: 3rem;
    }

    .main_content p
    {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .home_heading
    {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px)
{
    .home
    {
        padding: 150px 0;
    }

    .home_heading
    {
        font-size: 60px;
    }

    .home_description
    {
        font-size: 40px;
    }

    #navbar_logo
    {
        font-size: 1rem;
    }
}